<nz-select [(ngModel)]="currentValue" class="form-input fullWidth">
  <nz-option nzValue="2013" nzLabel="2013年"></nz-option>
  <nz-option nzValue="2014" nzLabel="2014年"></nz-option>
  <nz-option nzValue="2015" nzLabel="2015年"></nz-option>
  <nz-option nzValue="2016" nzLabel="2016年"></nz-option>
  <nz-option nzValue="2017" nzLabel="2017年"></nz-option>
  <nz-option nzValue="2018" nzLabel="2018年"></nz-option>
  <nz-option nzValue="2019" nzLabel="2019年"></nz-option>
  <nz-option nzValue="2020" nzLabel="2020年"></nz-option>
  <nz-option nzValue="2021" nzLabel="2021年"></nz-option>
  <nz-option nzValue="2022" nzLabel="2022年"></nz-option>
  <nz-option nzValue="2023" nzLabel="2023年"></nz-option>
  <nz-option nzValue="2024" nzLabel="2024年"></nz-option>
  <nz-option nzValue="2025" nzLabel="2025年"></nz-option>
  <nz-option nzValue="2026" nzLabel="2026年"></nz-option>
</nz-select>
