
<div nz-row>
  <div nz-col [nzSpan]="8">
    <nz-form-item>
      <nz-form-label [nzSpan]="6">身份证号</nz-form-label>
      <nz-form-control [nzSpan]="15">
        <input nz-input [(ngModel)]="queryParams.paperId">
      </nz-form-control>
    </nz-form-item>
  </div>
  <div nz-col [nzSpan]="8">
    <nz-form-item>
      <nz-form-label [nzSpan]="6">姓名</nz-form-label>
      <nz-form-control [nzSpan]="15">
        <input nz-input [(ngModel)]="queryParams.studentName">
      </nz-form-control>
    </nz-form-item>
  </div>
  <div nz-col [nzSpan]="8">
    <nz-form-item>
      <nz-form-label [nzSpan]="6">职务</nz-form-label>
      <nz-form-control [nzSpan]="15">
        <input nz-input [(ngModel)]="queryParams.duty">
      </nz-form-control>
    </nz-form-item>
  </div>
</div>


<div class="m-t-sm text-center" nz-row>
  <div nz-col [nzSpan]="24" class="text-center">
    <a href="javaScript:;" class="ant-btn ant-btn-primary" (click)="onQuery()">查询</a>
    <a href="javaScript:;" class="ant-btn ant-btn-primary m-l-xs"  *ngIf="user.supperAdmin " (click)="onExcelExport()" >excel导出</a>
  </div>
</div>
<div class="m-t-sm" nz-row>
  <div nz-col [nzSpan]="24">
    <nz-table
      #ajaxTable
      nzBordered
      nzShowSizeChanger
      [nzFrontPagination]="false"
      [nzData]="teacherList$ | async"
      [nzTotal]="total"
      [(nzPageIndex)]="queryParams.pageNo"
      [(nzPageSize)]="queryParams.pageSize"
      (nzPageIndexChange)="onPageChange($event)"
    >
      <thead >
      <tr>
        <th>序号</th>
        <th>身份证</th>
        <th>姓名</th>
        <th>当前职务</th>
        <th>联系电话</th>
        <th>当前所在学校</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of ajaxTable.data ;let no=index">
        <td>{{no+1}}</td>
        <td>{{data.paperId}}</td>
        <td>{{data.teacherName}}</td>
        <td>{{data.duty}}</td>
        <td>{{data.tel}}</td>
        <td>{{data.onserve.school.schoolName}}</td>
      </tr>
      </tbody>
    </nz-table>
  </div>
</div>
