
<div nz-row>
  <div nz-col [nzSpan]="8">
    <nz-form-item>
      <nz-form-label [nzSpan]="6">学校类别</nz-form-label>
      <nz-form-control [nzSpan]="15">
        <nz-select [(ngModel)]="currentValue" class="form-input fullWidth">
          <nz-option [nzValue]="'0'" nzLabel="全部"></nz-option>
          <nz-option [nzValue]="'1'" nzLabel="全日制学校"></nz-option>
          <nz-option [nzValue]="'2'" nzLabel="培训机构"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
  </div>
  <div nz-col [nzSpan]="8">
    <nz-form-item>
      <nz-form-label [nzSpan]="6">学校</nz-form-label>
      <nz-form-control [nzSpan]="15">
        <input nz-input [(ngModel)]="queryParams.schoolName">
      </nz-form-control>
    </nz-form-item>
  </div>
  <div nz-col [nzSpan]="8">
    <nz-form-item>
      <nz-form-label [nzSpan]="6">圈名</nz-form-label>
      <nz-form-control [nzSpan]="15">
        <input nz-input [(ngModel)]="queryParams.circleName">
      </nz-form-control>
    </nz-form-item>
  </div>

</div>

<div nz-row>
  <div nz-col [nzSpan]="8">
    <nz-form-item>
      <nz-form-label [nzSpan]="6">创建时间:</nz-form-label>
      <nz-form-control [nzSpan]="8">
        <nz-date-picker [(ngModel)]="queryParams.buildDateBegin" ></nz-date-picker>
      </nz-form-control>
      <nz-form-control [nzSpan]="2">
        --
      </nz-form-control>
      <nz-form-control [nzSpan]="8">
        <nz-date-picker [(ngModel)]="queryParams.buildDateEnd" ></nz-date-picker>
      </nz-form-control>
    </nz-form-item>
  </div>
  <div nz-col [nzSpan]="8">
    <nz-form-item>
      <nz-form-label [nzSpan]="6">创建人</nz-form-label>
      <nz-form-control [nzSpan]="15">
        <input nz-input [(ngModel)]="queryParams.circleName">
      </nz-form-control>
    </nz-form-item>
  </div>
  <div nz-col [nzSpan]="8">

  </div>
</div>

<div class="m-t-sm text-center" nz-row>
  <div nz-col [nzSpan]="24" class="text-center">
    <a href="javaScript:;" class="ant-btn ant-btn-primary" (click)="onQuery()">查询</a>
    <a class="ant-btn ant-btn-primary m-l-xs" download="学生资源.xls" *ngIf="user.isSupperAdmin "  >excel导出</a>
  </div>
</div>
<div class="m-t-sm" nz-row>
  <div nz-col [nzSpan]="24">
    <nz-table
      #ajaxTable
      nzBordered
      nzShowSizeChanger
      [nzFrontPagination]="false"
      [nzData]="studentList$ | async"
      [nzTotal]="total"
      [(nzPageIndex)]="queryParams.pageNo"
      [(nzPageSize)]="queryParams.pageSize"
      (nzPageIndexChange)="onPageChange($event)"
    >
      <thead >
      <tr>
        <th>序号</th>
        <th>身份证</th>
        <th>姓名</th>
        <th>年龄</th>
        <th>性别</th>
        <th>地址</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of ajaxTable.data ;let no=index">
        <td>{{no+1}}</td>
        <td>{{data.paperId}}</td>
        <td>{{data.studentName}}</td>
        <td>{{data}}</td>
        <td>{{data.district?.districtName}}</td>
        <td>{{data.address | cutSizePipe:18}}</td>
        <td>{{data.saleMan.employeeName}}</td>
        <td>{{data.regTime | date: 'yyyy-MM-dd' }}</td>

        <td>
          <a href="javaScript:;" *ngIf="user.isSupperAdmin" (click)="onClose(data)">强制关闭</a>
        </td>
      </tr>
      </tbody>
    </nz-table>
  </div>
</div>
