<div nz-row>
  <div nz-col [nzOffset]="7" [nzSpan]="8">
    <nz-form-item>
      <nz-form-label [nzSpan]="8"><b class="col-red">*</b>原密码</nz-form-label>
      <nz-form-control [nzSpan]="16">
        <input nz-input placeholder="请输入原密码" [(ngModel)]="user.passWord">
      </nz-form-control>
    </nz-form-item>
  </div>
</div>
<div nz-row>
  <div nz-col [nzOffset]="7" [nzSpan]="8">
    <nz-form-item>
      <nz-form-label [nzSpan]="8"><b class="col-red">*</b>新密码</nz-form-label>
      <nz-form-control [nzSpan]="16">
        <input nz-input placeholder="请输入新密码" [(ngModel)]="newPassWord">
      </nz-form-control>
    </nz-form-item>
  </div>
</div>
<div nz-row>
  <div nz-col [nzOffset]="7" [nzSpan]="8">
    <nz-form-item>
      <nz-form-label [nzSpan]="8"><b class="col-red">*</b>确认密码</nz-form-label>
      <nz-form-control [nzSpan]="16">
        <input nz-input placeholder="请再次输入新密码" [(ngModel)]="newPassWordAgain">
      </nz-form-control>
    </nz-form-item>
  </div>
</div>
<div *ngIf="msg!=''" class="text-center col-red">{{msg}}</div>
<div class="m-t-sm" nz-row>
  <div nz-col [nzSpan]="24" class="text-center">
    <button nz-button  nzType="primary"   (click)="onUpdatePwd()">确定</button>
  </div>
</div>










